.compose__head {
  background-color: whitesmoke;
  height: 100vh;
  width: 100vw;
}

.compose__from {
  display: flex;
  color: grey;
  padding: 10px;
}
.compose__to {
  display: flex;
  color: grey;
  padding: 10px;
  border-bottom: 1px solid lightgrey;
}
.compose__subject {
  display: flex;
  color: grey;
  padding: 10px;
  border-bottom: 1px solid lightgrey;
}
.compose__subject > input {
  margin-left: 10px;
  border: none;
  outline: none;
}
.compose__to > input {
  border: none;
  outline: none;
  width: 80%;
  height: 30px;
  background-color: whitesmoke;
}
.compose__fromPara {
  color: black;
}
.compose__submit {
  position: absolute;
  top: 83px;
  left: 70%;
  right: 0;
}
.Compose__error {
  color: red;
}
.compose__message {
  border: none;
  display: flex;
  color: grey;
  padding: 10px;
}
.compose__message > textarea {
  border: none;
  outline: none;
  width: 80%;
  height: 30px;
  background-color: whitesmoke;
}
