.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid whitesmoke;
}
.header__left {
  display: flex;
  align-items: center;
}
.header__left > img {
  object-fit: contain;
  height: 80px;
  margin-left: 5px;
}
.header__middle {
  display: flex;
  flex: 0.6;
  background: whitesmoke;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
}
.header__middle > .MuiSvgIcon-root {
  color: grey;
}
.header__middle > input {
  border: none;
  width: 100%;
  padding: 10px;
  background: transparent;
  outline: none;
}
.header__right {
  display: flex;
  align-items: center;
  padding-right: 20px;
}
.showMenu {
  position: fixed;
  z-index: 500;
  width: 70%;
  padding: 16px;
  left: 0;
  top: 0;
  height: 100vh;
  background-color: white;
  box-sizing: border-box;
  transition: all 0.3s ease-out;
}
.showMenu_name {
  position: relative;
  height: 100vh;
}
.cancel_nameShow {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
